.modal-container {
	z-index: 400;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(var(--vh) * 1px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(245, 245, 245, 0.7);
	font-weight: bold;
	color: #62626e;
}

.modal-content {
	z-index: 500;
	width: 100vmin;
	height: 81vmin;
}
