body {
	font-family: "Times New Roman", Times, serif;
	background-color: var(--bg-color);
	color: var(--black);
	margin: 0;
	padding: 0 0 0 2rem;
}

header,
main {
	background-color: var(--bg-color);
}

header {
	z-index: 1;
	padding-bottom: 1rem;
}

form {
	position: sticky;
}

header form input {
	background: rgba(0, 0, 0, 0);
	border: none;
	outline: 0;
	cursor: text;
	text-align: center;
}
header h1 {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 0;
}
header p {
	margin: 0;
	padding: 0;
}
main {
	font-size: 110%;
	margin-top: 4rem;
}

.virtual-scroller {
	max-width: 3000px;
	margin-bottom: 0.8em;
}

@media only screen and (max-width: 600px) {
	header div,
	.virtual-scroller {
		width: 100vw;
		padding-left: 0.4em;
	}
	nav {
		display: none;
	}
}
