.thumbnail-shelf {
	height: 100px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 8px;
	border-bottom: 4px solid var(--white);
	transition: all 0.1s;
	box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.05);
}

.thumbnail-shelf.hilighted,
a:active {
	color: var(--accent-color);
}
.thumbnail-shelf.hilighted {
	font-size: 150%;
}

.thumbnail-shelf:hover {
	transform: scale(1.02);
	box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.05);
}

.thumbnail-shelf-number-div {
	letter-spacing: 0.04em;
	width: 3.5em;

	padding: var(--gap-unit);
}
.thumbnail-shelf-spines-div {
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	padding-bottom: var(--gap-unit);
}
.thumbnail-book-spine {
	font-size: initial;
	background-color: var(--white);
	margin-right: 1px;
	height: var(--book-height);
	width: var(--book-width);
	box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.05);
}

.thumbnail-book-spine-title,
.thumbnail-book-spine-subtitle,
.thumbnail-book-spine-author {
	background-color: #efefef;
	margin: 4px auto;
	width: 1px;
}
.thumbnail-book-spine-title {
	height: 35%;
}
.thumbnail-book-spine-subtitle {
	/*margin-top: 12px;*/
	height: 25%;
}
.thumbnail-book-spine-author {
	margin-top: 8px;
	height: 15%;
}
