.virtual-horizontal-scroller {
	margin: 100px 30px 0 30px;
	padding: 0 60px 10px 60px;
	display: flex;
	border-bottom: 10px solid var(--white);
}

.left-padding-div {
	height: var(--book-height);
	display: flex;
	align-items: flex-end;
	color: var(--accent-color);
	text-align: end;
	letter-spacing: 0.04em;
	font-size: large;
}

.book-spine {
	width: var(--book-width);
	margin: 0 var(--margin-width) 0 0;
	padding: 0;
	letter-spacing: 0.4px;
	background-color: var(--white);

	pointer-events: painted;
	cursor: pointer;
	transition: all 0.1s;
}
.book-spine.hilight {
	transform: scale(1.05);
	box-shadow: 1px 1px 8px rgba(255, 0, 0, 0.1);
}

.book-spine:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.svg-volume-number {
	fill: var(--accent-color);
}
a {
	text-decoration: none;
	color: unset;
}
