.flipbook {
	display: grid;
	grid-template-columns: 1fr minmax(200px, calc(2px * var(--bookWidth))) 1fr;
	grid-template-rows: 1fr;
}

.flipbook div,
.flipbook img {
	transform-style: preserve-3d;
}

.scenewrapper {
	grid-column: 2/3;
	grid-row: 1/2;
	min-width: 200px;
	max-width: 100vw;
}
.slider {
	grid-column: 2/3;
	grid-row: 2/3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.label {
	grid-column: 2/3;
	grid-row: 3/4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scene,
.flipscene {
	perspective: 200vw;
	padding-top: calc(var(--bookHeight) / var(--bookWidth) * 50%);
}

.card {
	border: 1px solid lightgray;
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	transform-origin: center left;
	transition-duration: 1000ms;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	pointer-events: visiblePainted;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.card.flipped {
	transform: rotateY(-180deg);
}

.card-face {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: center / contain no-repeat url(bg.svg) white;
}

.card-face.back {
	border-right: white;
	transform: rotateY(180deg);
}

.empty-page-cover-div {
	width: 100%;
	height: 100%;
	background-color: white;
}

img {
	transition: opacity 0.5s;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
