@import-normalize;

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	--bg-color: rgba(245, 245, 245);
	--black: #0c0c0a;
	--white: #ffffff;
	--accent-color: #f9423a;
	--gap-unit: 2px;
}
